parameters:
    level: 1
    paths:
        - ./
    excludePaths:
        - ./shops
        - ./vendor
        - ./node_modules
    bootstrapFiles:
        - shops/5.7.19/autoload.php
    scanDirectories:
        - %currentWorkingDirectory%/Mocks # And this line