.endereco-predictions-wrapper {
  position: absolute;
  z-index: 99001;
  height: 0; }
  .endereco-predictions-wrapper .endereco-span--neutral {
    border-bottom: 1px dotted #5cb85c;
    color: #5cb85c;
    font-weight: 700;
    display: inline-block;
    padding: 0; }
  .endereco-predictions-wrapper .endereco-span--remove {
    display: none !important; }

.endereco-predictions-wrapper-inner {
  width: 100%;
  position: relative;
  top: 6px; }

.endereco-predictions {
  background-color: #fff;
  padding: 8px;
  margin: 0;
  list-style: none;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), 0 0 12px rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), 0 0 12px rgba(0, 0, 0, 0.125);
  width: auto;
  position: absolute; }
  .endereco-predictions .endereco-predictions__item.endereco-predictions__item.endereco-predictions__item {
    white-space: nowrap;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    border: 0 none;
    background-color: inherit;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 8px;
    color: #333;
    width: 100%; }
    .endereco-predictions .endereco-predictions__item.endereco-predictions__item.endereco-predictions__item * {
      pointer-events: none; }
    .endereco-predictions .endereco-predictions__item.endereco-predictions__item.endereco-predictions__item:last-child {
      margin-bottom: 0; }
    .endereco-predictions .endereco-predictions__item.endereco-predictions__item.endereco-predictions__item:hover, .endereco-predictions .endereco-predictions__item.endereco-predictions__item.endereco-predictions__item.active {
      background-color: rgba(76, 175, 80, 0.1); }

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

.endereco-no-scroll {
  overflow: hidden; }

.endereco-popup-container {
  position: fixed;
  z-index: 9900;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 120px;
  overflow-y: auto; }
  @media screen and (min-width: 768px) {
    .endereco-popup-container {
      padding-top: 0;
      padding-bottom: 0; } }
  .endereco-popup-container--direction-ltr {
    direction: ltr; }
  .endereco-popup-container--direction-rtl {
    direction: rtl; }

.endereco-modal {
  width: 95%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), 0 0 12px rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25), 0 0 12px rgba(0, 0, 0, 0.125);
  -webkit-animation: fadein 300ms;
  animation: fadein 300ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  max-height: 100vh;
  overflow-y: auto; }
  @media screen and (min-width: 768px) {
    .endereco-modal {
      max-width: 480px; } }
  @media screen and (min-width: 992px) {
    .endereco-modal {
      max-width: 560px; } }
  .endereco-modal a {
    color: #0c517d; }
  .endereco-modal__header {
    color: #333;
    padding: 15px 45px 15px 15px;
    font-family: sans-serif;
    position: relative; }
    @media screen and (min-width: 768px) {
      .endereco-modal__header {
        padding: 30px 65px 15px 30px; } }
    .endereco-modal__header-main {
      font-weight: 700;
      text-align: left;
      color: red;
      margin: 0;
      font-size: 24px;
      line-height: 1.25em; }
      @media screen and (min-width: 768px) {
        .endereco-modal__header-main {
          margin: 0 0 10px; } }
    .endereco-modal__header-sub {
      font-weight: 400;
      text-align: left;
      color: #333;
      font-size: 16px;
      margin: 0 0 20px;
      line-height: 1.5;
      display: none; }
      @media screen and (min-width: 768px) {
        .endereco-modal__header-sub {
          display: block;
          margin-bottom: 0; } }
  .endereco-modal__close {
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: gray; }
    @media screen and (min-width: 768px) {
      .endereco-modal__close {
        top: 33px;
        right: 30px; } }
    .endereco-modal__close::after {
      content: "\2716"; }
  .endereco-modal__body {
    padding: 7.5px 15px;
    font-family: sans-serif; }
    @media screen and (min-width: 768px) {
      .endereco-modal__body {
        padding: 15px 30px; } }
  .endereco-modal__footer {
    text-align: right;
    padding: 7.5px 15px 15px;
    font-family: sans-serif; }
    @media screen and (min-width: 768px) {
      .endereco-modal__footer {
        padding: 15px 30px 30px; } }
  .endereco-modal__divider {
    position: relative; }
    .endereco-modal__divider:first-child {
      margin-top: 0 !important; }
    .endereco-modal__divider:last-child {
      margin-bottom: 0 !important; }
    .endereco-modal__divider-innertext {
      display: inline-block;
      padding: 2px 10px;
      background-color: #fff;
      margin-left: 12px;
      position: relative;
      z-index: 1; }
    .endereco-modal__divider::after {
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.125);
      content: " ";
      display: block;
      top: calc(50% - 1px);
      position: absolute; }

.endereco-address-predictions {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto; }
  .endereco-address-predictions:last-child {
    margin-bottom: 0 !important; }
  .endereco-address-predictions__item {
    margin: 10px 0;
    list-style: none; }
    .endereco-address-predictions__item:first-child {
      margin-top: 0 !important; }
    .endereco-address-predictions__item:last-child {
      margin-bottom: 0 !important; }
  .endereco-address-predictions__radio {
    display: none; }
  .endereco-address-predictions__label {
    padding: 20px 20px 20px 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.125);
    display: block;
    font-family: serif;
    position: relative;
    overflow: hidden; }
    .endereco-address-predictions__label::after {
      content: " ";
      position: absolute;
      top: calc(50% - 5px);
      left: 28px;
      font-size: 56px;
      background-color: #4caf50;
      display: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .endereco-address-predictions__label::before {
      position: absolute;
      top: calc(50% - 26px/2);
      left: 20px;
      width: 26px;
      height: 26px;
      content: " ";
      background-color: transparent;
      border: 2px solid gray;
      border-radius: 50%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  .endereco-address-predictions--original .endereco-span--remove {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.125);
    border-bottom: 1px solid red;
    padding: 0 3px; }
  .endereco-address-predictions--original .endereco-span--add {
    display: none !important; }
  .endereco-address-predictions--suggestions .endereco-span--add {
    border-bottom: 1px solid #4caf50;
    background-color: rgba(76, 175, 80, 0.125);
    display: inline-block;
    padding: 0 3px; }
  .endereco-address-predictions--suggestions .endereco-span--remove {
    display: none; }

.endereco-address-predictions--original .endereco-address-predictions__label {
  border-color: red; }

.endereco-address-predictions__radio:checked ~ .endereco-address-predictions__label,
.endereco-address-predictions__item.active .endereco-address-predictions__label {
  border-color: #4caf50; }

.endereco-address-predictions__radio:checked ~ .endereco-address-predictions__label::after,
.endereco-address-predictions__item.active .endereco-address-predictions__label::after {
  display: block; }

.endereco-address-predictions__radio:checked ~ .endereco-address-predictions__label::before,
.endereco-address-predictions__item.active .endereco-address-predictions__label::before {
  border-color: #4caf50; }

.endereco-s--customer_verified input,
.endereco-s--customer_verified select,
.endereco-s--customer_verified .form-control,
.endereco-s--customer_verified .btn, .endereco-s--salutation_correct input,
.endereco-s--salutation_correct select,
.endereco-s--salutation_correct .form-control,
.endereco-s--salutation_correct .btn, .endereco-s--email_correct input,
.endereco-s--email_correct select,
.endereco-s--email_correct .form-control,
.endereco-s--email_correct .btn, .endereco-s--address_correct input,
.endereco-s--address_correct select,
.endereco-s--address_correct .form-control,
.endereco-s--address_correct .btn, .endereco-s--postal_code_correct input,
.endereco-s--postal_code_correct select,
.endereco-s--postal_code_correct .form-control,
.endereco-s--postal_code_correct .btn, .endereco-s--locality_correct input,
.endereco-s--locality_correct select,
.endereco-s--locality_correct .form-control,
.endereco-s--locality_correct .btn, .endereco-s--street_name_correct input,
.endereco-s--street_name_correct select,
.endereco-s--street_name_correct .form-control,
.endereco-s--street_name_correct .btn, .endereco-s--street_full_correct input,
.endereco-s--street_full_correct select,
.endereco-s--street_full_correct .form-control,
.endereco-s--street_full_correct .btn, .endereco-s--building_number_correct input,
.endereco-s--building_number_correct select,
.endereco-s--building_number_correct .form-control,
.endereco-s--building_number_correct .btn, .endereco-s--additional_info_correct input,
.endereco-s--additional_info_correct select,
.endereco-s--additional_info_correct .form-control,
.endereco-s--additional_info_correct .btn, .endereco-s--country_code_correct input,
.endereco-s--country_code_correct select,
.endereco-s--country_code_correct .form-control,
.endereco-s--country_code_correct .btn {
  border-color: #4caf50; }

.endereco-s--salutation_not_correct input,
.endereco-s--salutation_not_correct select,
.endereco-s--salutation_not_correct .form-control,
.endereco-s--salutation_not_correct .btn, .endereco-s--email_not_correct input,
.endereco-s--email_not_correct select,
.endereco-s--email_not_correct .form-control,
.endereco-s--email_not_correct .btn, .endereco-s--address_needs_correction input,
.endereco-s--address_needs_correction select,
.endereco-s--address_needs_correction .form-control,
.endereco-s--address_needs_correction .btn, .endereco-s--address_multiple_variants input,
.endereco-s--address_multiple_variants select,
.endereco-s--address_multiple_variants .form-control,
.endereco-s--address_multiple_variants .btn, .endereco-s--address_not_found input,
.endereco-s--address_not_found select,
.endereco-s--address_not_found .form-control,
.endereco-s--address_not_found .btn, .endereco-s--postal_code_needs_correction input,
.endereco-s--postal_code_needs_correction select,
.endereco-s--postal_code_needs_correction .form-control,
.endereco-s--postal_code_needs_correction .btn, .endereco-s--locality_needs_correction input,
.endereco-s--locality_needs_correction select,
.endereco-s--locality_needs_correction .form-control,
.endereco-s--locality_needs_correction .btn, .endereco-s--street_name_needs_correction input,
.endereco-s--street_name_needs_correction select,
.endereco-s--street_name_needs_correction .form-control,
.endereco-s--street_name_needs_correction .btn, .endereco-s--street_full_needs_correction input,
.endereco-s--street_full_needs_correction select,
.endereco-s--street_full_needs_correction .form-control,
.endereco-s--street_full_needs_correction .btn, .endereco-s--building_number_needs_correction input,
.endereco-s--building_number_needs_correction select,
.endereco-s--building_number_needs_correction .form-control,
.endereco-s--building_number_needs_correction .btn, .endereco-s--additional_info_needs_correction input,
.endereco-s--additional_info_needs_correction select,
.endereco-s--additional_info_needs_correction .form-control,
.endereco-s--additional_info_needs_correction .btn, .endereco-s--country_code_needs_correction input,
.endereco-s--country_code_needs_correction select,
.endereco-s--country_code_needs_correction .form-control,
.endereco-s--country_code_needs_correction .btn {
  border-color: #f0ad4e; }

.endereco-s--salutation_not_correct.radio-inline, .endereco-s--email_not_correct.radio-inline, .endereco-s--address_needs_correction.radio-inline, .endereco-s--address_multiple_variants.radio-inline, .endereco-s--address_not_found.radio-inline, .endereco-s--postal_code_needs_correction.radio-inline, .endereco-s--locality_needs_correction.radio-inline, .endereco-s--street_name_needs_correction.radio-inline, .endereco-s--street_full_needs_correction.radio-inline, .endereco-s--building_number_needs_correction.radio-inline, .endereco-s--additional_info_needs_correction.radio-inline, .endereco-s--country_code_needs_correction.radio-inline {
  border-bottom: 2px dotted #f0ad4e; }

.endereco-button {
  border: 0 none;
  border-radius: 4px;
  color: #fff;
  background-color: #009EC0;
  padding: 5px 15px;
  font-size: 16px;
  -webkit-box-shadow: 1px 1px 2px #444;
  box-shadow: 1px 1px 2px #444;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out; }
  .endereco-button:hover {
    background-color: #00748d;
    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out; }
